* {
  box-sizing: border-box;
}

.menu {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.menu button {
  display: block;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover:not(.active) {
  background-color: #ddd;
}

.menu a {
  text-decoration: none;
}

.active {
  background-color: lightblue;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu-container {
  padding-left: 0;
}

.pageContent {
  margin-top: 10px;
}

.description pre {
  background-color: #e0e0e0;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.9);
  font-family: Consolas, monospace;
  margin-bottom: 10px;
  overflow: auto;
  padding: 10px;
}

.gridSquare {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridSquare:hover {
  cursor: pointer;
}

.gridSquare.red {
  background-color: red;
}
.gridSquare.white {
  background-color: white;
}
.gridSquare.green {
  background-color: green;
}
.gridSquare.purple {
  background-color: rgb(255, 0, 255);
}
.gridSquare.yellow {
  background-color: yellow;
}
.gridSquare.blue {
  background-color: rgb(0, 153, 255);
}
.gridSquare.black {
  background-color: black;
}
.gridSquare.brown {
  background-color: rgb(175, 92, 54);
}

.grid {
  margin-top: 20px;
}

.simCompleteBox {
  border: 1px solid rgb(0, 81, 255);
  padding: 5px;
}

.currNode {
  border: 4px solid rgb(251, 255, 0);
  padding: 4px 4px;
}

.visitedNode {
  background-color: rgb(255, 195, 255) !important;
}

.visitedNode.riverNode {
  background-color: rgb(0, 119, 255) !important;
}

#target-words {
  margin-top: 10px;
}

#target-words > strong {
  padding-right: 10px;
  align-self: flex-end;
}

.visitingNode {
  background-color: cyan !important;
}

.speed-button {
  margin-right: 10px;
}

.listRow {
  margin: 60px;
}

.arrow {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  marker-end: url(#markerArrow);
}
