* {
  box-sizing: border-box;
}

.menu {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.menu button {
  display: block;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover:not(.active) {
  background-color: #ddd;
}

.menu a {
  text-decoration: none;
}

.active {
  background-color: lightblue;
}

.container {
  margin-top: 40px;
}

.menu-container {
  padding-left: 0;
}

.pageContent {
  margin-top: 10px;
}
